<ion-header [translucent]="true" *ngIf="showHeader">
	<ion-toolbar>
		<!-- <ion-buttons slot="start">
			<ion-back-button defaultHref="/browse"></ion-back-button>
		</ion-buttons> -->
		<ion-title>{{title}}</ion-title>
		<ion-progress-bar type="indeterminate" *ngIf="loadingSermons"></ion-progress-bar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<app-fixed-grid>
		<app-header>
			<h1>{{title}}</h1>
			<ion-searchbar name="search" placeholder="Search sermons" inputmode="search" [(ngModel)]="searchTerm" mode="md" (ionChange)="search($event)"></ion-searchbar>
		</app-header>

		@if (loadingSermons)
		{
		<app-skeleton type="list"></app-skeleton>
		}
		@else if (!sermonsList)
		{
		<ion-row class="filters">
			<ion-col>
				<p style="margin-top: 0; font-size: 12px; text-align: left; width: 100%">No sermons found</p>
			</ion-col>
		</ion-row>
		}
		@else {

		<ion-row class="filters chips">
			<ion-col mode="ios">
				<ion-chip [outline]="!filterSeries">Series<span *ngIf="filterSeries">{{filterSeries.series_name}}</span> <ion-icon name="filter-outline" *ngIf="!filterSpeaker"></ion-icon></ion-chip>
				<ion-chip [outline]="!filterSpeaker">Speaker<span *ngIf="filterSpeaker">{{filterSpeaker.name}}</span>  <ion-icon name="filter-outline" *ngIf="!filterSpeaker"></ion-icon></ion-chip>
				<ion-chip [outline]="!filterBook">Book<span *ngIf="filterBook">{{filterBook}}</span> <ion-icon name="filter-outline" *ngIf="!filterBook"></ion-icon></ion-chip>
			</ion-col>
		</ion-row>

		<ion-row class="filters">
			<ion-col>
				<p class="filter-left">{{ sermonsList.row_count | number }} sermons found</p>
			</ion-col>
			<ion-col>
				<p class="filter-right">Ordered by date <ion-icon name="arrow-down"></ion-icon></p>
			</ion-col>
		</ion-row>

		<ion-list>
			<ion-item class="sermon-item" lines="inset" *ngFor="let sermon of sermonsList.sermons" [routerLink]="['/listen/', sermon.sermon_id]" detail="true">
				<ion-thumbnail slot="start" class="letterbox-thumbnail">
					<ion-img [src]="sermon.series_thumb" />
				</ion-thumbnail>
				<ion-label class="ion-text-nowrap">
					<h2>{{ sermon.sermon_title }}</h2>
					<p>{{ sermon.sermon_date | date: 'mediumDate' }} &#8226; {{sermon.speaker_name}}</p>
					<!-- {{sermon.passage == sermon.sermon_title ? sermon.series_name : sermon.passage }} -->
				</ion-label>
			</ion-item>
		</ion-list>
		}
		@if (loadingMore)
		{
		<app-skeleton type="list"></app-skeleton>
		}

		<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" style="margin-top: 20px;">
			<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more series...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</app-fixed-grid>
</ion-content>