<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/browse"></ion-back-button>
		</ion-buttons>
		<ion-title>{{title}}</ion-title>
		<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<app-fixed-grid>
		@if (loading)
		{
		<app-skeleton type="list"></app-skeleton>
		}
		@else if (!speakersList || speakersList.length === 0)
		{
		<ion-row class="filters">
			<ion-col>
				<p style="margin-top: 0; font-size: 12px; text-align: left; width: 100%">No speakers found</p>
			</ion-col>
		</ion-row>
		}
		@else {


		<ion-row class="filters">
			<ion-col>
				<p class="filter-left">{{ speakersList.length | number }} speakers found</p>
			</ion-col>
			<ion-col>
				<p class="filter-right">Ordered by name <ion-icon name="arrow-down"></ion-icon></p>
			</ion-col>
		</ion-row>

		<ion-list *ngIf="recentSpeakersList && recentSpeakersList.length">
			<ion-list-header>
				<ion-label>Recent speakers</ion-label>
			</ion-list-header>
			<ng-container *ngTemplateOutlet="speakerItemTemplate; context: {speakers: recentSpeakersList}"></ng-container>
		</ion-list>
		<ion-list>
			<ion-list-header *ngIf="recentSpeakersList && recentSpeakersList.length">
				<ion-label>All speakers</ion-label>
			</ion-list-header>
			<ng-container *ngTemplateOutlet="speakerItemTemplate; context: {speakers: speakersList}"></ng-container>
		</ion-list>
		}

	</app-fixed-grid>
</ion-content>


<!-- Define the template for speaker items -->
<ng-template #speakerItemTemplate let-speakers="speakers">
	<ion-list>
		<ion-item lines="inset" *ngFor="let speaker of speakers" [routerLink]="['/browse/speakers/', speaker.id]" detail="true">
			<ion-avatar slot="start">{{ speaker.initials }}</ion-avatar>
			<ion-label>
				<h2>{{ speaker.name }}</h2>
				<p>{{ speaker.sermon_count }} talk{{ speaker.sermon_count > 1 ? 's' : '' }}</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ng-template>