<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-icon (click)="goBack()" class="playback" slot="start" name="arrow-back-outline" style="margin-left: 12px; font-size: 24px; margin-right: 12px;"></ion-icon>
		</ion-buttons>
		<ion-title>{{title}}</ion-title>
        <ion-buttons slot="end" style="cursor:pointer">
            <ion-button (click)="shareTalk()">
                <ion-icon slot="icon-only" name="share-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="downloadTalk()">
                <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
		<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	@if (loading)
	{
	<app-fixed-grid>
		<app-skeleton type="header"></app-skeleton>
	</app-fixed-grid>

	}
	@else if (!sermon)
	{
	<app-fixed-grid>
		<ion-card>
			<ion-card-header>
				<ion-card-title>No sermon found</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<p>There is no sermon available for the given ID.</p>
			</ion-card-content>
		</ion-card>
	</app-fixed-grid>

	}
	@else
	{

	<ion-grid style="padding: 0; margin: 0;">
		<ion-row class="ion-padding-top ion-padding-bottom" style="background: var(--ion-color-light-shade); padding: 1px 0 0 0; margin: 0;">
			<ion-col sizeXs="10" offsetXs="1" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3" style="text-align:center; padding: 0; margin: 0">
				<ion-img src="{{sermon.series_thumb}}" alt="Series Thumbnail" class="series-thumbnail"></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>
	<app-fixed-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item lines="none">
						<ion-label position="stacked">Title</ion-label>
						{{ sermon.sermon_title }}
					</ion-item>
					<ion-item lines="none">
						<ion-label position="stacked">Speaker</ion-label>
						<a [routerLink]="['/browse/speakers', sermon.speaker_id]">{{ sermon.speaker_name }}</a>
					</ion-item>
					<ion-item lines="none">
						<ion-label position="stacked">Date</ion-label>
						{{ sermon.sermon_date | date: 'mediumDate' }}
					</ion-item>
					<ion-item lines="none" *ngIf="sermon.sermon_duration">
						<ion-label position="stacked">Duration</ion-label>
						{{ sermon.sermon_duration | duration }}
					</ion-item>
					<ion-item lines="none" *ngIf="sermon.passage">
						<ion-label position="stacked">Passage</ion-label>
						<a target="_blank" href="https://www.biblegateway.com/passage/?search={{sermon.passage}}&interface=print">{{ sermon.passage }}&nbsp;<ion-icon style="font-size: 14px;" name="open-outline"></ion-icon></a>
					</ion-item>
					<ion-item lines="none">
						<ion-label position="stacked">Series</ion-label>
						<a [routerLink]="['/browse/series/', sermon.series_id]">{{ sermon.series_name }}</a>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
		<!-- show <audio> with src being sermon.sermon_file-->
		<ion-row>
			<ion-col>
				<audio controls style="width: 100%; margin-top: 20px">
					<source src="{{sermon.sermon_file}}" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
			</ion-col>
		</ion-row>
        <ion-row>
            <ion-col style="text-align: center; margin-top: 16px;">
                <ion-button fill="clear" (click)="shareTalk()">
                    <ion-icon slot="start" name="share-outline"></ion-icon>
                    Share this sermon
                </ion-button>
                <ion-button fill="clear" (click)="downloadTalk()">
                    <ion-icon slot="start" name="download-outline"></ion-icon>
                    Download this sermon
                </ion-button>
            </ion-col>
        </ion-row>
	</app-fixed-grid>
	<!-- <p>Sermon Video Embed Code: {{ sermon.sermon_video_embed_code }}</p> -->
	<!-- <p>Sermon File: {{ sermon.sermon_file }}</p>-->

	}
</ion-content>