<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons>
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">	
    <app-fixed-grid>
        <app-header>
            <h1>Podcast</h1>
            <p><ion-text color="medium">To add the podcast to your preferred podcast app, choose from the following options:</ion-text></p>
        </app-header>
        <ion-list>
            <!-- Apple Podcasts -->
            <ion-item button (click)="openUrl('podcast_apple')" detail-icon="open-outline" detail>
                <ion-icon slot="start" name="logo-apple" src="assets/icon/icon-applepodcasts.svg"></ion-icon>
                <ion-label>Apple Podcasts</ion-label>
            </ion-item>
            <!-- Spotify -->
            <ion-item button (click)="openUrl('podcast_spotify')" detail-icon="open-outline" detail>
                <ion-icon slot="start" src="assets/icon/icon-spotify.svg"></ion-icon>
                <ion-label>Spotify</ion-label>
            </ion-item>
            <!-- Fallback for Apple Podcasts -->
            <ion-item button (click)="openUrl('podcast')" *ngIf="!podcast_apple">
                <ion-icon slot="start" name="icon-rss"></ion-icon>
                <ion-label>Apple Podcasts</ion-label>
            </ion-item>
            <!-- Copy Podcast URL -->
            <ion-item button (click)="copyPodcastUrl()" >
                <ion-icon slot="start" name="copy-outline"></ion-icon>
                <ion-label>Copy Podcast URL</ion-label>
            </ion-item>
        </ion-list>
    </app-fixed-grid>
</ion-content>