<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay" style="height: 100%">
			<ion-content>
				<ion-list id="inbox-list">
					<ion-list-header style="color: var(--ion-color-dark-shade)">{{appName}}</ion-list-header>
					<ion-note style="color: var(--ion-color-dark-shade)">Sermon library app</ion-note>
					<ion-menu-toggle auto-hide="false">
						<ion-item routerDirection="root" [routerLink]="'home'" lines="none" detail="false" routerLinkActive="selected">
							<ion-icon aria-hidden="true" slot="start" name="list-outline"></ion-icon>
							<ion-label>Latest</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item routerDirection="root" [routerLink]="'browse'" lines="none" detail="false" routerLinkActive="selected">
							<ion-icon aria-hidden="true" slot="start" name="grid"></ion-icon>
							<ion-label>Browse</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item routerDirection="root" [routerLink]="'search'" lines="none" detail="false" routerLinkActive="selected">
							<ion-icon aria-hidden="true" slot="start" name="search"></ion-icon>
							<ion-label>Search</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item routerDirection="root" [routerLink]="'listen/' + (activeTalk?activeTalk:'')" lines="none" detail="false" routerLinkActive="selected">
							<ion-icon aria-hidden="true" slot="start" name="headset"></ion-icon>
							<ion-label>Listen</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>
				<ion-list id="labels-list">
					<!-- <ion-list-header>Labels</ion-list-header> -->

					<ion-item lines="none" detail="true" [routerLink]="'about'" routerLinkActive="selected">
						<ion-label>About</ion-label>
					</ion-item>
					<ion-item lines="none" detail="true" detail-icon="logo-rss" [routerLink]="'podcast'" *ngIf="podcast" routerLinkActive="selected">
						<ion-label>Podcast</ion-label>
					</ion-item>
					<ion-item lines="none" detail="true" detail-icon="open-outline" (click)="goHome()">
						<ion-label>{{home}} Home</ion-label>
					</ion-item>
				</ion-list>

				<div style=" margin: 0 auto; text-align: center;">
					<ion-icon src="/assets/icon/sermonz.svg" alt="App Logo" style="color: var(--ion-color-secondary); font-size: 85px; padding: 60px 0 20px; opacity: 0.15"></ion-icon>
				</div>
			</ion-content>

			<ion-footer>
				<ion-list style="margin: 0; padding: 2px 0 4px 0; border-top: 1px solid var(--ion-color-light)">
					<ion-item lines="none" style="font-size: 10px;">
						<ion-label>&copy; {{copyright}} {{year}}</ion-label>
						<ion-label slot="end" style="text-align:right">Powered by <a href="https://sermo.nz">sermo.nz</a></ion-label>
					</ion-item>
				</ion-list>
			</ion-footer>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>