<ion-header [translucent]="true" *ngIf="showHeader">
	<ion-toolbar>
		<ion-title>{{title}}</ion-title>
		<ion-progress-bar type="indeterminate" *ngIf="loadingSermons || loadingSeries"></ion-progress-bar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<app-fixed-grid>
		<ion-icon class="ion-hide-lg-up app-logo" src="/assets/icon/sermonz.svg" alt="App Logo"></ion-icon>
		<app-header>
			<h1>{{title}}</h1>
		</app-header>
		
		<p class="ion-hide-lg-up">Welcome to {{appName}}</p>
		<!-- Recent Sermons -->
		<ion-row>
			<ion-col>
				<h2>Recent talks</h2>
			</ion-col>
			<ion-col class="ion-text-right">
				<a [routerLink]="['/search']">View more</a>
			</ion-col>
		</ion-row>
		<app-skeleton *ngIf="loadingSermons" type="cards"></app-skeleton>
		<div class="scroll-x ion-hide-md-up" *ngIf="!loadingSermons && sermonsList && sermonsList.sermons">
			<ion-card *ngFor="let sermon of sermonsList.sermons" [routerLink]="['/listen', sermon.sermon_id]">
				<ion-img src="{{sermon.series_image}}" alt="{{sermon.sermon_title}}"></ion-img>
				<ion-card-header xstyle="background: rgba(var(--ion-color-primary-rgb), 0.75);">
					<ion-card-title class="nowrap" xstyle=" color: var(--ion-color-secondary-contrast)">{{sermon.sermon_title}}</ion-card-title>
				</ion-card-header>
				<ion-card-content xstyle="background: rgba(var(--ion-color-primary-rgb), 0.75); color: var(--ion-color-secondary-contrast)">
					{{sermon.speaker_name}}<br />
					{{sermon.sermon_date | date: 'mediumDate'}}<br />
					{{sermon.series_name}}
				</ion-card-content>
			</ion-card>
		</div>
		<div class="sermons ion-hide-md-down" *ngIf="!loadingSermons && sermonsList && sermonsList.sermons">
			<ion-row style="margin-top: 0; margin-bottom: 0;">
				<ion-col sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="12" *ngFor="let sermon of sermonsList.sermons">
					<ion-list style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0;">
						<ion-item class="sermon-item" lines="none" detail="true" [routerLink]="['/listen', sermon.sermon_id]" style=" border-top: 1px solid var(--ion-color-light-shade);">
							<ion-thumbnail slot="start" class="letterbox-thumbnail">
								<ion-img [src]="sermon.series_thumb" />
							</ion-thumbnail>
							<ion-label class="ion-text-nowrap">
								<h2>{{ sermon.sermon_title }}</h2>
								<p>{{ sermon.sermon_date | date: 'mediumDate' }} &#8226; {{sermon.speaker_name}} {{sermon.passage == sermon.sermon_title ? '' : '&#8226; '+sermon.passage }}</p>
							</ion-label>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
		</div>

		<!-- Recent Series -->
		<ion-row>
			<ion-col>
				<h2>Recent sermon series</h2>
			</ion-col>
			<ion-col class="ion-text-right">
				<a [routerLink]="['/browse/series']">View more</a>
			</ion-col>
		</ion-row>
		<app-skeleton *ngIf="loadingSeries" type="cards"></app-skeleton>
		<div class="scroll-x ion-hide-md-up" *ngIf="!loadingSeries && seriesList && seriesList.series">
			<ion-card *ngFor="let series of seriesList.series" [routerLink]="['/browse/series', series.series_id]">
				<ion-img src="{{series.series_thumb}}" alt="{{series.series_name}}"></ion-img>
				<ion-label class="ion-text-nowrap">
					<ion-card-header>
						<ion-card-title class="wrap">{{series.series_name}}</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						{{series.first_sermon_date | date: 'mediumDate'}} - {{series.last_sermon_date | date: 'mediumDate'}}
					</ion-card-content>
				</ion-label>
			</ion-card>
		</div>
		<div class="ion-hide-md-down" *ngIf="!loadingSeries && seriesList && seriesList.series">
			<ion-row style="margin-top: 0; margin-bottom: 0;">
				<ion-col sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="12" *ngFor="let series of seriesList.series">
					<ion-card [routerLink]="['/browse/series', series.series_id]" style="width: 100%;">
						<ion-img src="{{series.series_thumb}}" alt="{{series.series_name}}"></ion-img>
						<ion-label class="ion-text-nowrap">
							<ion-card-header>
								<ion-card-title class="wrap">{{series.series_name}}</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								{{series.first_sermon_date | date: 'mediumDate'}} - {{series.last_sermon_date | date: 'mediumDate'}}
							</ion-card-content>
						</ion-label>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
		<br />
		<ion-list id="labels-list" class="ion-hide-lg-up">
			<ion-item lines="none" detail="true" detail-icon="logo-rss" [routerLink]="['/home/podcast']" *ngIf="podcast">
				<ion-label>Podcast</ion-label>
			</ion-item>
			<ion-item lines="none" detail="true" [routerLink]="['/home/about']">
				<ion-label>About</ion-label>
			</ion-item>
			<ion-item lines="none" detail="true" detail-icon="open-outline" (click)="goHome()">
				<ion-label>{{home}} Home</ion-label>
			</ion-item>
		</ion-list>
		<ion-list style="margin: 0; padding: 2px 0 4px 0; border-top: 1px solid var(--ion-color-light)">
			<ion-item lines="none" style="font-size: 10px;">
				<ion-label>&copy; {{copyright}} {{year}}</ion-label>
				<ion-label slot="end" style="text-align:right">Powered by <a href="https://sermo.nz">sermo.nz</a></ion-label>
			</ion-item>
		</ion-list>
		<br />
	</app-fixed-grid>
</ion-content>