@if (type=='sermons')
{
	@if (loadingSermons) {
		<app-skeleton type="list"></app-skeleton>
	}
	@else {
		<ion-list class="embed-sermon-list" *ngIf="sermonsList && sermonsList.sermons">
			<ion-item class="sermon-item" lines="none" detail="true" detail-icon="play" (click)="loadSermon(sermon)" *ngFor="let sermon of sermonsList.sermons">
				<ion-thumbnail slot="start" class="letterbox-thumbnail">
					<ion-img [src]="sermon.series_thumb" />
				</ion-thumbnail>
				<ion-label class="ion-text-nowrap">
					<h2>{{ sermon.sermon_title }}</h2>
					<p>{{ sermon.sermon_date | date: 'mediumDate' }} &#8226; {{sermon.speaker_name}} {{sermon.passage.trim() == sermon.sermon_title.trim() ? '' : '&#8226; '+sermon.passage }}</p>
				</ion-label>
			</ion-item>
		</ion-list>
	}
}
@if (type == 'series')
{
	<!-- Recent Series -->
	<ion-row>
		<ion-col>
			<h2>Recent series</h2>
		</ion-col>
		<ion-col class="ion-text-right">
			<a style="cursor:pointer" (click)="viewMoreSeries()" style="margin-right">View more</a>
		</ion-col>
	</ion-row>
	<app-skeleton *ngIf="loadingSeries" type="cards"></app-skeleton>
	<div class="scroll-x" *ngIf="!loadingSeries && seriesList && seriesList.series">
		<ion-card *ngFor="let series of seriesList.series" (click)="loadSeries(series)">
			<ion-img src="{{series.series_thumb}}" alt="{{series.series_name}}"></ion-img>
			<ion-label class="ion-text-nowrap">
				<ion-card-header>
					<ion-card-title class="wrap">{{series.series_name}}</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					{{series.first_sermon_date | date: 'mediumDate'}} - {{series.last_sermon_date | date: 'mediumDate'}}
				</ion-card-content>
			</ion-label>
		</ion-card>
	</div>
}
@if (error) 
{
	<p>An error occurred. <a [href]="homeUrl" target="_top">Go to {{appName}}</a></p>
}