@if (type=='mini')
{
	@if (loading) {
		<app-skeleton type="list"></app-skeleton>
	}
	@else {
		<ion-list class="embed-sermon-list" *ngIf="sermonsList && sermonsList.sermons">
			<ion-item class="sermon-item" lines="none" detail="true" detail-icon="play" (click)="loadSermon(sermon)" *ngFor="let sermon of sermonsList.sermons">
				<ion-thumbnail slot="start" class="letterbox-thumbnail">
					<ion-img [src]="sermon.series_thumb" />
				</ion-thumbnail>
				<ion-label class="ion-text-nowrap">
					<h2>{{ sermon.sermon_title }}</h2>
					<p>{{ sermon.sermon_date | date: 'mediumDate' }} &#8226; {{sermon.speaker_name}} {{sermon.passage.trim() == sermon.sermon_title.trim() ? '' : '&#8226; '+sermon.passage }}</p>
				</ion-label>
			</ion-item>
		</ion-list>
	}
}
@if (type == 'large')
{
large
}
@if (error) 
{
	<p>An error occurred. <a [href]="homeUrl" target="_top">Go to {{appName}}</a></p>
}