<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/browse" *ngIf="!embedded"></ion-back-button>
			<ion-button (click)="closeModal()" *ngIf="embedded">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>{{title}}</ion-title>
		<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<app-fixed-grid>
		@if (loading) {
			<app-skeleton type="list"></app-skeleton>
		}
		@else if (!seriesList || seriesList.row_count === 0) {
		<ion-card>
			<ion-card-header>
				<ion-card-title>No Series Found</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<p>There are no series available at this time.</p>
			</ion-card-content>
		</ion-card>
		}
		@else {

		<ion-row class="filters">
			<ion-col>
				<p class="filter-left">{{ seriesList.row_count | number}} series found</p>
			</ion-col>
			<ion-col>
				<p class="filter-right">Ordered by date <ion-icon name="arrow-down"></ion-icon></p>
			</ion-col>
		</ion-row>

		<ion-list>
			<ion-item lines="inset" *ngFor="let series of seriesList.series" detail="true" (click)="onSeriesSelected(series)">
				<ion-thumbnail slot="start" class="letterbox-thumbnail">
					<ion-img [src]="series.series_thumb" />
				</ion-thumbnail>
				<ion-label class="ion-text-nowrap">
					<h2>{{ series.series_name }}</h2>
					<p>{{ series.first_sermon_date | date: 'mediumDate' }} - {{ series.last_sermon_date | date: 'mediumDate' }}</p>
				</ion-label>
			</ion-item>
		</ion-list>

		}
		@if (loadingMore) 
		{
			<app-skeleton type="list"></app-skeleton>
		}
		<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" style="margin-top: 20px;">
			<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more series...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</app-fixed-grid>
</ion-content>